.form {
  //   &:global(.ant-form) {
  //     :global(.ant-form-item-verical .ant-form-item-row):has(.ant-checkbox-wrapper) {
  //       flex-direction: row-reverse;
  //       gap: 4px;
  //     }
  //   }

  :global(.ant-form-item-vertical .ant-form-item-row):has(:global( .ant-checkbox-wrapper)) {
    flex-direction: row-reverse;
    gap: 4px;
    justify-content: flex-end;
    align-items: center;

    :global(.ant-form-item-control) {
        width: auto;
        flex-grow: 0;
    }

    :global(.ant-form-item-label) {
        padding: 0;
    }
  }
}
