.infoCard {
  display: flex;
  box-shadow: 1px 3px 2px #000;
  background: var(--smartlib-color-white);
  border-radius: 4px;
  padding: 4px 2px;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.infoLabel {
  color: var(--smartlib-color-text-tertiary);
  font-size: 12px;
  font-weight: 500;
}

.infoValue {
  color: var(--smartlib-color-text);
  font-size: 12px;
  line-height: calc(16px / 12px);
}
