.root {
  flex: 1;
  width: 100%;
}

.inner {
  margin: 0 auto;
}

.default {
  max-width: 1260px;
  padding: 30px;
}

.detail {
  max-width: 100%;
  padding: 15px;
}

.content {
  padding: 15px;
  border-radius: var(--smartlib-border-radius-lg);
  background-color: var(--smartlib-color-white);
}
