.searchBar {
  width: 100%;
  height: 32px;
}

.search {
  width: auto;
  flex: 1 1 auto;
  height: 100%;
}

.input {
  &:global(.ant-input-search) {
    :global(.ant-btn) {
      padding-left: 3px;
      padding-right: 3px;
      padding-inline-start: 3px;
      padding-inline-end: 3px;

      :global(.anticon) {
        justify-content: center;
        align-items: center;
      }
    }
  }
}
