.header {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
  height: 52px;
  background-color: var(--ant-color-white);
  box-shadow: 0px 1px 10px #ECECEC;
}

.logo {
  flex: 0 0 auto;

  &:focus-visible {
    outline: 2px solid var(--ant-color-primary);
    outline-offset: 2px;
  }
}

.logoImage {
  display: block;
  width: auto;
  height: 20px;
}

.nav {
  flex: 0 0 auto;
}

.searchBar {
  flex: 1 0 auto;
}

.profileLink {
  display: inline-flex;
  flex: 0 0 auto;
}

.profileLinkInner {
  &:hover {
    color: var(--ant-color-primary);
  }

  :global('.ant-typography') {
    color: var(--ant-color-primary) !important;
  }
}
