.header {
  display: flex;
  align-items: center;
  padding: 4px 24px;
  gap: 4px;
  height: 52px;
  background-color: transparent;
}

.navBlock {
  flex: 0 0 auto;
  gap: 20px;
  display: flex;
  align-items: center;
}

.logoContainer {
  flex: 0 0 auto;
}

.logo {
  &:focus-visible {
    outline: 2px solid var(--ant-color-primary);
    outline-offset: 2px;
  }
}

.logoImage {
  display: block;
  width: auto;
  height: 20px;
}

.nav {
  flex: 0 0 auto;
}

.searchBarContainer {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  width: 600px;
}

.actionsBar {
  flex: 0 0 auto;
}

.profileLink {
  display: inline-flex;
  flex: 0 0 auto;
}

.profileLinkInner {
  &:hover {
    color: var(--ant-color-primary);

    :global(.ant-typography) {
      color: var(--ant-color-primary) !important;
    }
  }
}

.userName {
  max-width: 80px;
}
